
  <h1 class="hide">FlashBack Kids Page</h1>

<!--Social Media Connect for Facebook Liking and Sharing (related code further down page as we;;)-->
<div id="fb-root"></div>
<script>
(function(a, b, id){
  var js, facebookjs = a.getElementsByTagName(b)[0];
  if (a.getElementById(id)) return;
  js = a.createElement(b); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  facebookjs.parentNode.insertBefore(js, facebookjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!--HEADER-->
  <div id="mainHead">
  <a href="home.handlebars"><img src="../public/images/flashback-logomain.png" alt="flashback" id="logoMain"></a>
    <img src="../public/images/hamburger-menu.png" alt="menu" id="menuIcon">
  </div>
<!--NAV-->
  <nav id="mainNav"><h2 class="hide">Main Nav</h2>
  <div id="menu">
  <ul>
    <li><a href="home.handlebars">FLASHBACK HOME</a></li>
    <li><a href="parents.handlebars">FLASHBACK PARENTS</a></li>
    <li><a href="#">FLASHBACK KIDS</a></li>
  </ul>
</div>
</nav>
<!--PROMO-->
  <div id="promoTextMain">Watch Your Favourite Groovy 50s - 60s Movies Here on Flashback!</div>
  <img src="../public/images/harry-promo.jpg" alt="harry_and_the_hendersons" id="promoImgMain">

<!--FAVOURITE MOVIES-->
<div id="kidsFavTitle" class="headings">My Favourite Movies</div>
<div id="kidsFavourites">
  <!--The thumbnails for the favourties movies section-->
  {{#each videoFav}}
    <li>
      <a href="/video/{ title }">
        <img src="/images/{videos_thumb}.jpg" alt="{videos_title}" id="{videos_id}" class="movThumb">"
      </a>
      <h4> {{ videoTitle }}</h4>
        <p>{{ videoDecade }}</p>
        <p>{{ videoDetails }}</p>
    </li>
<!--The videos that would show:-->
  <!-- <img src="/images/{videos_thumb}.jpg" alt="{videos_title}" id="{videos_id}" class="movThumb">
  <img src="../public/images/kidsmov-dennis-menace.jpg" alt="dennis_the_menace" id="dennis" class="movThumb">
  <img src="../public/images/kidsmov-before-time.jpg" alt="the_land_before_time" id="landTime" class="movThumb">
  <img src="../public/images/kidsmov-mary-poppins.jpg" alt="mary_poppins" id="poppins" class="movThumb">
  <img src="../public/images/kidsmov-sword-stone.jpg" alt="the_sword_in_the_stone" id="sword" class="movThumb">
  <img src="../public/images/kidsmov-all-dogs-go-to-heaven.jpg" alt="all_dogs_go_to_heaven" id="dogs" class="movThumb"> -->

  <!--Attempts to get Facebook liking/sharing working:-->

          <!--  <div id="fb-like"
              data-href="http://localhost:8080/oatman_c_flashback/views/main_kids.handlebars"
              data-layout="button"
              data-action="like"
              data-size="small"
              data-show-faces="false"
              data-share="true">
            </div>-->

          <!--replacing this with above data-href as attempt for individual image sharing/liking-->
          <!--  data-href="http://localhost:8080/oatman_c_flashback/public/images/{image_thumb}.jpg"--><!--Individual Images? -->

          <!--other attempt to show facebook social-->
          <!--  <div
                data-href="http://localhost:8080/oatman_c_flashback/views/home.handlebars"
                data-layout="standard"
                data-action="like"
                data-show-faces="true">
            </div> -->

          <!--a plugin that works for social media sharing full page, where I connected my site in to share page-->
                    <!--<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A8080%2Foatman_c_flashback%2Fviews%2Fmain_kids.handlebars&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
                    </iframe>-->

  <!--(Working/Showing) Plugin Sharing Specific Images Sharing and Liking-->
          <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A8080%2Foatman_c_flashback%2Fpublic%2Fimages%2F&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
          </iframe>
  <!--Add Review-->
          <div class="addReview">
            <label class="reviewLabel">Add a Review</label>
            <input type="review">
          </div>

{{/each}}
</div>

<!--FUNNY MOVIES-->
<div id="kidsFunnyTitle" class="headings">Funny Movies</div>
<div id="kidsFunny">
<!--The thumbnails for the favourties movies section-->
{{#each videoFun}} <!--videoFun -->
  <li>
    <a href="/video/{ title }">
      <img src="/images/{videos_thumb}.jpg" alt="{videos_title}" id="{videos_id}" class="movThumb">"
    </a>
    <h4> {{ videoTitle }}</h4>
      <p>{{ videoDecade }}</p>
        <p>{{ videoDetails }}</p>

<!--(Working/Showing) Plugin Sharing Specific Images Sharing and Liking-->
        <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A8080%2Foatman_c_flashback%2Fpublic%2Fimages%2F&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
        </iframe>
<!--Add Review-->
        <div class="addReview">
          <label class="reviewLabel">Add a Review</label>
          <input type="review">
        </div>
  </li>
{{/each}}
</div>

<!--FOOTER-->
  <div id="mainFoot">
    <img src="../public/images/roku-logomain.png" alt="roku" id="rokuFoot">
  </div>
